@import "tailwindcss";


          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,400 L 0,150 C 102.35406698564591,128.1244019138756 204.70813397129183,106.24880382775119 307,101 C 409.29186602870817,95.75119617224881 511.52153110047846,107.12918660287082 606,118 C 700.4784688995215,128.87081339712918 787.2057416267943,139.23444976076559 879,161 C 970.7942583732057,182.76555023923441 1067.6555023923445,215.93301435406698 1162,216 C 1256.3444976076555,216.06698564593302 1348.1722488038276,183.0334928229665 1440,150 L 1440,400 L 0,400 Z");
            }
            25%{
              d: path("M 0,400 L 0,150 C 114.07655502392345,174.22966507177034 228.1531100478469,198.45933014354068 329,187 C 429.8468899521531,175.54066985645932 517.464114832536,128.39234449760767 586,98 C 654.535885167464,67.60765550239235 703.9904306220094,53.97129186602871 813,85 C 922.0095693779906,116.02870813397129 1090.5741626794259,191.7224880382775 1205,210 C 1319.4258373205741,228.2775119617225 1379.712918660287,189.13875598086125 1440,150 L 1440,400 L 0,400 Z");
            }
            50%{
              d: path("M 0,400 L 0,150 C 118.34449760765551,126.70813397129187 236.68899521531102,103.41626794258374 322,129 C 407.311004784689,154.58373205741626 459.5885167464114,229.04306220095697 563,213 C 666.4114832535886,196.95693779904303 820.9569377990431,90.41148325358851 911,79 C 1001.0430622009569,67.58851674641149 1026.5837320574162,151.311004784689 1104,179 C 1181.4162679425838,206.688995215311 1310.7081339712918,178.3444976076555 1440,150 L 1440,400 L 0,400 Z");
            }
            75%{
              d: path("M 0,400 L 0,150 C 67.70334928229664,173.3397129186603 135.40669856459328,196.6794258373206 237,201 C 338.5933014354067,205.3205741626794 474.07655502392345,190.622009569378 575,176 C 675.9234449760766,161.377990430622 742.2870813397129,146.83253588516743 838,157 C 933.7129186602871,167.16746411483257 1058.7751196172248,202.04784688995215 1164,205 C 1269.2248803827752,207.95215311004785 1354.6124401913876,178.97607655502392 1440,150 L 1440,400 L 0,400 Z");
            }
            100%{
              d: path("M 0,400 L 0,150 C 102.35406698564591,128.1244019138756 204.70813397129183,106.24880382775119 307,101 C 409.29186602870817,95.75119617224881 511.52153110047846,107.12918660287082 606,118 C 700.4784688995215,128.87081339712918 787.2057416267943,139.23444976076559 879,161 C 970.7942583732057,182.76555023923441 1067.6555023923445,215.93301435406698 1162,216 C 1256.3444976076555,216.06698564593302 1348.1722488038276,183.0334928229665 1440,150 L 1440,400 L 0,400 Z");
            }
          }